
*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	line-height: 1.6;
	color: white;
	background-color:;
}



#showcase{
	background-image:url(img/birdeye.jpg); 
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;
}

#showcase h1{
	font-size: 50px;
	line-height: 1.2;
}


#showcase p{
	font-size: 20px;
}

#showcase .button{
	font-size: 20px;
	text-decoration: none;
	color:white;
	border: 1px solid;
	padding: 10px 20px;
	border-radius:10px;
	margin-top: 20px;

}

#showcase .button:hover{
	background: #ffea00;
	color:black;
}

#section-a{
	padding: 10px;
	color: black;
	text-align: center;
	background-color: #f7f7ff;
}

#section-b{
	padding: 10px;
	color: black;
	background-color: white;
	text-align: center;
	
}

#section-c{
	padding: 10px;
	color: black;
	display: flex;
	background-color: ;
}

#section-c div{
	padding: 20px;
	text-align: center;

}

#section-c .box-1, #section-c .box-3 {
	background-color:#e9ff70;
}

#section-c .box-2{
	background-color:#f7f7ff;
	
}


